.container{
	width: 90%;
	font-family: arial;
}
*{
	border-radius: 10px;
}
body{
	display: flex;
	justify-content: center;
	background:#B3E5FC; 

}
a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
img{
	width: 200px;
}
.menu{
	height: 100%;
	width: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
button{
	background: transparent;
	border: 1px solid transparent;
	color: white;
	margin-right: 5px;
	transition: 1s;
}
.button-head:hover{
	background: #29f04d;
}
.in-footer:hover{
	background: #B3E5FC;
	color: black;
}
.header{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	background: #0097A7;
}
.logo{
	width: 100px;
	margin-left: 10px;
}
.down-main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -50px;
	flex-direction: column;

}

.footer{
	width: 100%;
	height:100px;
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #1be084;
}
.footer-img{
	width: 15px;
}


.wrapper {
	height: 350px;
	margin: 100px auto 0;
	position: relative;
	width: 100%;
}

.slider {
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.wrapper > input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}

.slide1 { background: url(../img/forest.jpg) no-repeat; }
.slide2 { background: url(../img/forest3.jpg) no-repeat ; }
.slide3 { background: url(../img/eco2.jpg) no-repeat ; }


.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label:after {
	border: 2px solid black;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3){
	background: black;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3{
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
}
.in-main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30%;
	
}
.h2{
	width: 60%;
}
.up-in-main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #6294c9;
	margin-bottom: -25px;
	z-index: 1;

}
.in-main-p{
	width: 50%;
	float: right;
	font-size: 20px;
}
.down-in-main{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 25px;
	background: #3292a8;
	height: 500px;
	z-index: 0;
}
.main-img{
	width: 600px;
}
.dude{
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background: #34eb92;
	height: 250px;
}
.in-main-p2{
	font-size: 20px;
	margin-left: 15px;
	width: 70%;
}
.in-main{
	margin-top: 75px;
}
.video{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row-reverse;
}
.vid{
	width: 50%;
}
.footer-img{
	width: 22.5px;
	margin-right: 5px;
}
.in-footerr{
	font-size: 22.5px;
}
.in-footer{
	font-size: 22.5px;
}
.about-video{
	width: 40%;
	font-size: 25px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #3292a8;
	height: 440px;
	padding:10px;
}